# Python
__pycache__/
*.py[cod]
.env
.venv/
.*_cache/
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex*
*.toc
*.nav
*.snm
*.vrb
*.lof
*.lot
*.loa
*.idx
*.ilg
*.ind
*.glo
*.glg
*.gls
*.acn
*.acr
*.alg
*.ist
*.xdv
*.dvi
*.figlist
*.makefile
*.pyg
*.tdo
_minted*/
