# Python
__pycache__/
*.py[cod]
.env
.venv/
.*_cache/
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex*
*.toc
